.root {
    font-family: 'Montserrat', sans-serif;
    position: absolute;
    top: 0;
    left: 0;
    width: 100vw;
    height: 27px;
    z-index: 1000;
    padding-top: 10px;
}

.root > div {
    display: flex;
    /*align-items: center;*/
}

.logo {
    position: relative;
    z-index: 2;
    height: 27px;
}

.logo img {
    height: 100%;
}