.root {
    border: solid #9c261a 4px;
    /*border-radius: 3px;*/
    font-size: 1rem;
    font-weight: 700;
    text-transform: uppercase;
    /*overflow: hidden;*/
    position: relative;
    z-index: 2;
    border-bottom-color: transparent;
    border-top-color: transparent;
}

.root svg {
    font-size: 1em;
    color: #9c261a;
    position: absolute;
    top: -5px;
    right: 12px;
    z-index: -1;
}

/*.root:before {*/
/*    content: '';*/
/*    width: 8px;*/
/*    height: 8px;*/
/*    border-radius: 20px;*/
/*    top: -6px;*/
/*    left: -10px;*/
/*    position: absolute;*/
/*    background: #9c261a;*/
/*    animation: move 8s infinite;*/
/*}*/

/*.root:after {*/
/*    content: '';*/
/*    width: 10%;*/
/*    height: 10px;*/
/*    border-radius: 20px;*/
/*    bottom: -6px;*/
/*    right: 0;*/
/*    position: absolute;*/
/*    background: #000;*/
/*    animation: move-bot 8s infinite;*/
/*}*/

.activeValue {
    padding: 5px 2px;
    z-index: 3;
    display: flex;
    align-items: center;
    color: antiquewhite;
    justify-content: center;
    /*opacity: .7;*/
}

.ul {
    list-style: none;
    padding: 0;
    margin: 0;
    background: #9c261a;
    color: #000;
    max-height: 0;
    transition: .15s ease-out;
    z-index: 3;
}

.root.open  .ul {
    max-height: 50vh;
    transition: .15s ease-in;
}

.li {
    padding: 5px 2px;
    text-align: center;
}

.mask {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background: rgba(0,0,0,.5);
    z-index: 1;
}

.wrap {
    cursor: pointer;
}

@keyframes move {
    0% {
        transform: translateX(0);
    }

    50% {
        transform: translateX(850%);
    }

    100% {
        transform: translateX(0);
    }
}

@keyframes move-bot {
    0% {
        transform: translateX(0);
    }

    50% {
        transform: translateX(-850%);
    }

    100% {
        transform: translateX(0);
    }
}