.root {
    padding: 10px;
    /* background: #db3727; */
    border: solid #9c261a 3px;
    border-radius: 20px;
    font-size: .675rem;
    color: antiquewhite;
    text-align: center;
    width: 90%;
    margin: 10px 0 0 5%;
    display: block;
    box-sizing: border-box;
    text-decoration: none;
    font-weight: 900;
    text-shadow: none;
    text-transform: uppercase;
    opacity: 1;
    position: relative;
    line-height: 1.5;

    /*box-shadow: 1px 1px 2px #9c261a;*/
}

.root:after {
    position: absolute;
    content: '';
    width: 40px;
    height: 10px;
    border-radius: 20px;
    background: #000;
    top: -5px;
    left: 0px;
    animation: move 8s infinite;
}

.descr {
    font-size: .75em;
    position: absolute;
    width: 100%;
    color: antiquewhite;
    text-align: center;
    bottom: -20px;
    letter-spacing: 1px;
    left: 0;
    line-height: 1;
    /*opacity: .8;*/
}

.descrTop {
    font-size: .75em;
    line-height: 1;
    position: absolute;
    width: 100%;
    color: antiquewhite;
    display: flex;
    justify-content: center;
    top: -20px;
    letter-spacing: 1px;
    left: 0;
    /*opacity: .8;*/
}


.disabled {
    filter: grayscale(100);
    opacity: .8;
}

.root:before {
    position: absolute;
    content: '';
    width: 40px;
    height: 10px;
    border-radius: 20px;
    background: #000;
    bottom: -5px;
    right: 0px;
    animation: move-bot 8s infinite;
}

.loading {
    position: absolute;
    width: 100%;
    height: 100%;
    background: #000;
    color: inherit;
    font-size: inherit;
    left: 0;
    top: 0;
    border-radius: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    letter-spacing: 1px;
    z-index: 2;
    opacity: 1!important;
    padding: 0 10px;
    box-sizing: border-box;
}

@keyframes move {
    0% {
        transform: translateX(0);
    }

    50% {
        transform: translateX(50%);
    }

    100% {
        transform: translateX(0);
    }
}

@keyframes move-bot {
    0% {
        transform: translateX(0);
    }

    50% {
        transform: translateX(-50%);
    }

    100% {
        transform: translateX(0);
    }
}