html {
    margin: 0;
    padding: 0;
    --clr0: bisque;
    --clr1: lightsalmon;
    --clr2: tomato;
    --clr3: lightcoral;
}

img {
    max-width: 100%;
}

.wrapper {
    max-width: 1440px;
    margin: auto;
    padding: 0 20px;
}

body {
    font-family: 'Montserrat', sans-serif;
    padding: 0;
    margin: 0;
    overflow: hidden;
    -webkit-tap-highlight-color: transparent;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    outline: none !important;
    background-size: cover;
}

.slick-active {
    width: 180px!important;
}

.slick-center {
    width: 320px!important;
}

.blob {
    background: #db3727;
    border-radius: 50%;
    box-shadow: 0 0 0 0 rgba(219, 55, 39, 1);
    margin: 10px;
    height: 20px;
    width: 20px;
    transform: scale(1);
    animation: pulse-black 2s infinite;
}

.slick-active:not(.slick-center) img {
    opacity: 1!important;
    transition: .25s ease-out .15s;
    transform: scale(1.15);
    box-shadow: 3px 3px 7px rgba(0, 0, 0, .6);
    position: relative;
    z-index: 9;
}

.slick-list {
    overflow: visible!important;
}

@keyframes pulse-black {
    0% {
        transform: scale(0.95);
        box-shadow: 0 0 0 0 rgba(219, 55, 39, 0.7);
    }

    70% {
        transform: scale(1);
        box-shadow: 0 0 0 15px rgba(0219, 55, 39, 0);
    }

    100% {
        transform: scale(0.95);
        box-shadow: 0 0 0 0 rgba(219, 55, 39, 0);
    }
}