html {
    margin: 0;
    padding: 0;
    --clr0: bisque;
    --clr1: lightsalmon;
    --clr2: tomato;
    --clr3: lightcoral;
}

html, body {
    position: fixed;
    height: 100vh;
    width: 100vw;
    top: 0;
    left: 0;
}

img {
    max-width: 100%;
}

.wrapper {
    max-width: 767px;
    margin: auto;
    padding: 0 15px;
}

body {
    font-family: 'Montserrat', sans-serif;
    padding: 0;
    margin: 0;
    overflow: hidden;
    -webkit-tap-highlight-color: transparent;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    outline: none !important;
    background-size: cover;
}

.slick-active {
    width: 180px!important;
}

.slick-center {
    width: 320px!important;
}

.blob {
    background: #db3727;
    border-radius: 50%;
    box-shadow: 0 0 0 0 rgba(219, 55, 39, 1);
    margin: 10px;
    height: 20px;
    width: 20px;
    transform: scale(1);
    animation: pulse-black 2s infinite;
}

/*.slick-current img {*/
/*    opacity: 1!important;*/
/*    transition: .25s ease-out .15s;*/
/*    transform: scale(1.15);*/
/*    box-shadow: 3px 3px 7px rgba(0, 0, 0, .6);*/
/*    position: relative;*/
/*    z-index: 9;*/
/*    filter: none!important;*/
/*}*/

.slick-list {
    overflow: visible!important;
    transform: translateY(-60vw)!important;
}

/*!* slide when not active/center*! .slick-slide[aria-hidden="false"]{*/

/*                                      border-radius: 3px;*/
/*                                      margin: 2px 0;*/
/*                                      opacity: .8;*/
/*                                      transition: .25s ease-out .15s;*/
/*                                      filter: grayscale(100);*/
/*}*/

/*!* slide when active/center *! .slick-slide[aria-hidden="false"] + .slick-slide[aria-hidden="false"] {*/
/*                                   opacity: 1!important;*/
/*                                   transition: .25s ease-out .15s;*/
/*                                   transform: scale(1.15);*/
/*                                   box-shadow: 3px 3px 7px rgba(0, 0, 0, .6);*/
/*                                   position: relative;*/
/*                                   z-index: 9;*/
/*                                   filter: none!important;*/
/*}*/

.slick-center img {
    opacity: 1!important;
    transition: .25s ease-out .15s;
    transform: scale(1.15);
    box-shadow: 3px 3px 7px rgba(0, 0, 0, .6);
    position: relative;
    z-index: 9;
    filter: none!important;
}

/*!* slide when not active*!*/
/*.slick-slide[aria-hidden="true"]:not(.slick-cloned) ~ .slick-cloned[aria-hidden="true"] {*/
/*    filter: grayscale(100);*/
/*}*/

/*!* slide when active (when play last to first) *!*/
/*.slick-slide[aria-hidden="true"]:not([tabindex="-1"]) + .slick-cloned[aria-hidden="true"]  {*/
/*    filter: grayscale(0);*/
/*}*/
/*!* slide when active (when play first to last) *!*/
/*.slick-slide[aria-hidden="true"] + .slick-cloned[aria-hidden="true"] {*/
/*    filter: grayscale(0);*/
/*}*/

@keyframes pulse-black {
    0% {
        transform: scale(0.95);
        box-shadow: 0 0 0 0 rgba(219, 55, 39, 0.7);
    }

    70% {
        transform: scale(1);
        box-shadow: 0 0 0 15px rgba(219, 55, 39, 0);
        /*color: transparent;*/
    }

    100% {
        transform: scale(0.95);
        box-shadow: 0 0 0 0 rgba(219, 55, 39, 0);
    }
}