.root {
    font-size: 2rem;
    color: #9c261a;
    animation: anime 3s linear infinite;
    opacity: 1;
}

@keyframes anime {
    0% {
        transform: rotate(2deg) translateX(20px);
        opacity: 1;
    }

    10% {
        transform: rotate(0deg) translateX(0px);
        opacity: 1;
    }

    20% {
        transform: rotate(-2deg) translateX(-20px);
    }

    21% {
        opacity: 0;
        transform: rotate(45deg) translateX(10px);
    }

    100% {

        opacity: 0;
    }
}