.root {
    position: fixed;
    z-index: 10001;
    bottom: 0;
    color: #000;
    width: 100vw;
    padding: 0 3vw;
    transition: .35s ease-out .1s;
    transform: translateY(100%);
    height: 100vh;
}

.root.active {
    transform: translateY(0);
}

.mask {
    background: #000;
    opacity: 0;
    position: absolute;
    z-index: 2;
    width: 100vw;
    height: 100vh;
    left: 0;
    top: 0;
    transition: none;
    cursor: pointer;
}

.root.active .mask {
    opacity: .5;
    transition: .1s ease-out .35s;
}

.content {
    height: auto;
    bottom: 20px;
    padding: 20px;
    box-sizing: border-box;
    /*opacity: .95;*/
    background: #fff;
    border-radius: 5px;
    box-shadow: 0px 0px 12px rgba(0, 0, 0, .9);
    position: absolute;
    z-index: 3;
    width: 94vw;
    font-size: .875rem;
}

.blob {
    width: 30px;
    height: 30px;
    opacity: .8;
    color: antiquewhite;
    font-size: .875rem;
    display: flex;
    justify-content: center;
    align-items: center;
    box-sizing: border-box;
}

.blobWrapper {
    z-index: 889;
    transition: .15s ease-out .45s;
    position: absolute;
    top: -35px;
    left: calc(50% - 45px);
    cursor: pointer;
    padding: 10px;
}

.root.active .blobWrapper {
    top: calc(50% - 45px);
    transition: none;
}
.root.active .blobWrapper > div {
    opacity: .8!important;
}
