.slider img {
    width: 100%;
    border-radius: 3px;
    margin: 2px 0;
    opacity: .8;
    transition: .25s ease-out .15s;
    filter: grayscale(100);
}

.sliderMask {
    position: absolute;
    height: 100%;
    width: 100%;
    top: 0;
    left: 0;
    z-index: 9999;
}

.sliderMaskTop, .sliderMaskBot {
    display: flex;
    justify-content: center;
}

.sliderMaskTop > div {
    margin-top: -10px;
    opacity: .85;
}

.sliderMaskBot > div {
    margin-bottom: -10px;
    opacity: .85;
}

.sliderMaskTop {
    width: 100%;
    height: 20%;
    top: 0;
    left: 0;
    position: absolute;
    align-items: flex-start;
}

.sliderMaskBot {
    width: 100%;
    height: 20%;
    bottom: 0;
    left: 0;
    position: absolute;
    align-items: flex-end;
}

.slider div {
    width: 100%!important;
}

.slider {
    height: calc(100vh - 370px);
    /*box-sizing: border-box;*/
    /*height: ;*/
    width: calc(55vh - 40px);
    margin: auto;
    overflow: hidden;
    border-radius: 3px;
    padding: 0 10vw;
    position: relative;
    /*overflow: hidden;*/
}

@media screen and (min-color-index:0) and(-webkit-min-device-pixel-ratio:0)
{ @media {
    .slider {
        height: calc(100vh - 450px);
    }
}}

.wrapper {
    position: relative;
}