.root {
    animation: squiggly-anim 0.34s linear infinite;
    font-family: 'cutenes_monsterregular', sans-serif;
    /*font-size: 2rem;*/
}

.root {
    display: inline-block;
    vertical-align: middle;
    width: 100%;
    outline: none;
    text-align: center;
    line-height: 1;
}

.svg {
    height: 0;
    display: none;
}
@-moz-keyframes squiggly-anim {
    0% {
        filter: url("#squiggly-0");
    }
    25% {
        filter: url("#squiggly-1");
    }
    50% {
        filter: url("#squiggly-2");
    }
    75% {
        filter: url("#squiggly-3");
    }
    100% {
        filter: url("#squiggly-4");
    }
}
@-webkit-keyframes squiggly-anim {
    0% {
        filter: url("#squiggly-0");
    }
    25% {
        filter: url("#squiggly-1");
    }
    50% {
        filter: url("#squiggly-2");
    }
    75% {
        filter: url("#squiggly-3");
    }
    100% {
        filter: url("#squiggly-4");
    }
}
@-o-keyframes squiggly-anim {
    0% {
        filter: url("#squiggly-0");
    }
    25% {
        filter: url("#squiggly-1");
    }
    50% {
        filter: url("#squiggly-2");
    }
    75% {
        filter: url("#squiggly-3");
    }
    100% {
        filter: url("#squiggly-4");
    }
}
@keyframes squiggly-anim {
    0% {
        filter: url("#squiggly-0");
    }
    25% {
        filter: url("#squiggly-1");
    }
    50% {
        filter: url("#squiggly-2");
    }
    75% {
        filter: url("#squiggly-3");
    }
    100% {
        filter: url("#squiggly-4");
    }
}